html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}